[submodule "reference/antlr4"]
	path = reference/antlr4
	url = git://github.com/JohnWashburn/antlr4-1
[submodule "reference/sharpen"]
	path = reference/sharpen
	url = git://github.com/JohnWashburn/sharpen.git
